.section__container {
  height: 100vh;
  padding: 5rem;
  box-sizing: border-box;
}
.section__container__image-logo {
  /* filter: drop-shadow(0 40px 10px rgba(0, 0, 0, 0.3));
   */
  animation: image-logo-animation 1s infinite ease-in-out alternate;
}

@keyframes image-logo-animation {
  to {
    transform: translateY(-10px);
  }
}

.section__brands-icons > svg {
  color: #fff;
  font-size: 3rem;
  transition: color 0.5s;
}
.section__brands-icons > svg:hover {
  color: #38a169;
  cursor: pointer;
}

.section__container-video {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__container-video video {
  border: 1px solid #000;
  width: 60%;
  border-radius: 5px;
  outline: none;
}

@media screen and (max-width: 600px) {
  .container-video {
    height: unset;
  }
  .container-video video {
    width: 100%;
  }
}

.course {
  width: 250px;
  margin-bottom: 1rem;
  transition: all 0.5s;
}
.course:hover {
  transform: translateY(-10px);
  cursor: pointer;
}
